body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f5dcc1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.welcome-frame {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background: linear-gradient(135deg, #f3d2aa, #e5a467);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.salon-name {
  font-size: 24px;
  font-weight: bold;
  color: #227439;
  margin: 10px 0;
}

.tagline {
  font-size: 16px;
  color: #227439;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.action-button {
  padding: 10px 20px;
  background-color: #227439;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #227439;
}